html{
    background-color: #f3e5d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #fff7fc;
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    color: #595554;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
header h1{
    color: #31302c;
}
.preparation_time h1{
    color: #61213c;
    font-size: medium;
}
.ingredients h1, .instructions h1, .nutrition h1, .qty {
    color: #844b3a;
}
ol::marker, ul::marker{
    color: #844b3a;
    font-weight: bold;
}
.qty{
    font-weight: bold;
}

li{
    padding-left: 15px;
}
table{
    border-collapse: collapse;
    width: 615px;
}
table td{
    padding-top: 20px;
}
nav span{
    font-weight: bold;
}
td#line{
    border-bottom: 1px solid #e0e0e0;
}
.substances{
    padding-left: 25px;
}
