html{
    background-color: #f3e5d8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #fff7fc;
    min-width: 300px;
    max-width: 768px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    line-height: 25px;
    color: #595554;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}
header h1{
    color: #31302c;
}
.preparation_time h1{
    color: #61213c;
    font-size: 1em;
}
.ingredients h1, .instructions h1, .nutrition h1, .qty {
    color: #844b3a;
}
ol::marker, ul::marker{
    color: #844b3a;
    font-weight: bold;
}
.qty{
    font-weight: bold;
}

li{
    padding-left: 15px;
}
tr, td {
    width: 100%;
    text-align: justify;
}
table{
    border-collapse: collapse;
    max-width: 100%;
    margin: 30px;
}
table td{
    padding-top: 20px;
}
nav span{
    font-weight: bold;
}
.line{
    border-bottom: 1px solid #e0e0e0;
}
.substances{
    padding-left: 25px;
}
